<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List BankAccounts</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>List BankAccounts</h3>
			
			<hr/>

			<br/><br/>
			<table class="table table-bordered table-striped" id="bankAccTable">
			
				<thead>
					<tr>
						<th>Customer ID</th>
						<th>BranchCode</th>
						<th>Account No</th>
						<th>Type </th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="bankAccounts: ${bankAccounts}">
						<td th:text="${bankAccounts.customerId}" />
						<td th:text="${bankAccounts.branchCode}" />
						<td th:text="${bankAccounts.accountNo}" />
						<td th:text="${bankAccounts.type}" />
						
					
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>