<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Branches</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>List Branches</h3>
			
			<hr/>
			
			<br/><br/>
			<table class="table table-bordered table-striped" id="BranchesTable">
			
				<thead>
					<tr>
						<th>BranchCode</th>
						<th>BankCode</th>
						<th>Manager</th>
						<th>Head Office</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="branches: ${branches}">
						<td th:text="${branches.branchCode}" />
						<td th:text="${branches.bankCode}" />
					     <td th:text="${branches.manager}" />
						<td th:text="${branches.headOffice}" />
						<td th:text="${branches.address}" />
						
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#BranchesTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>