<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List ReversalRequests</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand " href="#">Admin Portal</a>
        </div>
        <div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a th:href="@{/admin/index}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>

		<div class="container">

			<h2  class="display-6 text-primary text ">List Reversal Requests</h2>
			
			<hr/>

			<br/>
			<table class="table table-bordered table-striped" id="reversalRequestsTable">
			
				<thead>
					<tr>
						<th>RequestID</th>
						<th>TransactionNo</th>
						<th>RequestDate</th>
						<th>AccountNo</th>
						<th>TransactionDate</th>
						<th>TransactionType</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reversalRequests: ${reversalRequests}">
						<td th:text="${reversalRequests.reqId}" />
						<td th:text="${reversalRequests.transactionNo}" />
						<td th:text="${reversalRequests.reqDate}" />
						<td th:text="${reversalRequests.transaction.accountNo}" />
						<td th:text="${reversalRequests.transaction.date}" />
						<td th:text="${reversalRequests.transaction.transactionType}" />
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#reversalRequestsTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>